{% extends 'chat/index.html' %}
{% block title %}Chat{% endblock %}
{% block content %}
{% block body %}
<nav class="black lighten-3">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Private Messaging</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="" class="w3-bar-item w3-button">{{ request.user.first_name }}</a></li>
          <li><a href="/" class="w3-bar-item w3-button">Home</a></li>
          <li><a href="{% url 'core:course' %}" class="w3-bar-item w3-button">Courses</a></li>
          {% if request.user.role == "instructor" %}
          <a tabindex="0" class="w3-bar-item w3-button chat-toggle">
              Disable Chat
          </a>
         {% endif %}
      </ul>
    </div>
</nav>
    <div class="section" style="height: 80vh">
    <div class="row">
        <div class="col s3">
        <div class="card">
            <div class="collection">
                {% for user in users %}
                <a href="{% url 'chat:chat' request.user.id user.id %}" id="user{{ user.id }}" class="collection-item row">
                    <img src="https://frontend-1.adjust.com/new-assets/images/site-images/interface/user.svg" class="col s4">
                    <div class="col s8">
                    <span class="title" style="font-weight: bolder">{{ user.first_name }}</span>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        </div>
        <div class="col s9">
            <div class="card">
            <div id="board" class="section grey lighten-3" style="height: 68vh; padding: 5px; overflow-y: scroll">
                {% block messages %}

                {% endblock %}
            </div>
            <form id="chat-box" class="form-group {% block hide %}hide{% endblock %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col s11">
                        <div class="input-field">
                            <input id="id_message" name="message" type="text" placeholder="Type your message..">
                        </div>
                    </div>
                    <div class="col s1" style="line-height: 80px">
                        <button class="btn btn-floating blue lighten-2 waves-effect waves-light"><i class="material-icons">send</i></button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    </div>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/axios@0.24.0/dist/axios.min.js"
        integrity="sha256-rtaseLgkmpx8/wAw87kh7p93HLFoQWTz5nnhAjpNXGk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/chat.js' %}"></script>
    <script>

;(async () => {
            var settings = await axios({url: "/api/settings"})
            var obj = settings.data[settings.data.length - 1]
            if(obj.key !== "blocked") { return }
            if(obj.value == "true") {
                $("#chat-box").remove()
                alert("Chat is currently disabled.")
                $(".chat-toggle").text("Enable Chat")
            }
        })();

        $(".chat-toggle").click(function() {
            if($(this).text() == "Enable Chat") {
                $(this).text("Disable Chat")
                axios({
                    url: "/api/settings/",
                    method: "POST",
                    data: {
                        key: "blocked",
                        value: "false"
                    }
                })
                .then(x => {
                    console.log("UPDATE SETTINGS", x.data)
                    window.location = "/chat"
                })
            } else {
                $(this).text("Enable Chat")
                axios({
                    url: "/api/settings/",
                    method: "POST",
                    data: {
                        key: "blocked",
                        value: "true"
                    }
                })
                .then(x => {
                    console.log("UPDATE SETTINGS", x.data)
                    window.location = "/chat"
                })
            }
        })

        // For receiving
        sender_id = "{{ receiver.id }}";
        receiver_id = "{{ request.user.id }}";

        //For sending
        $(function () {
            scrolltoend();
            $('#chat-box').on('submit', function (event) {
                event.preventDefault();
                var message = $('#id_message');
                send('{{ request.user.id }}', '{{ receiver.id }}', message.val());
                message.val('');
            })
        })
    </script>
{% endblock %}
{% endblock %}