{% extends 'base.html' %}

{% load bootstrap %}

{% block title %} Assignment Submission {% endblock %}

{% block content %}

    <section class="dentist-area section-padding-40-0">
<div class="container">

<div class="row justify-content-center">

                <div class="col-lg-5 mb-5 mb-lg-0">
                    <center> <h3> Submit Assignment </h3></center>
                          <br/>
                    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

                        NAME <input type="text" name="name" class="btn btn-primary btn-md text-white">
                        <br>
                        <br>
                        Roll Number<input type="text" name="university_id" class="btn btn-primary btn-md text-white">
                        <br><br>
                        Your Answer in words<input type="text" name="content" class="btn btn-primary btn-md text-white">
                        <br><br>
                        File submission<input type="file" name="file" class="btn btn-primary btn-md text-white">
                        <br><br>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Submit" class="btn btn-primary btn-md text-white">
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </section>

{% endblock %}