{% extends 'base.html' %}
{% load static %}
{% block title %}Assignments{% endblock %}


{% block content %}

 <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">

       
            {% if request.user.is_authenticated and request.user.role == 'instructor' %}
                {% for foo in assignment %}
                    <h3><strong> {{ foo.title }}  </strong></h3>
                    <hr/>
                    <p> <h4><strong>Content:</strong></h4> {{ foo.content }} </p>

                    <p> <h4><strong>Marks:</strong>  {{ foo.marks }} </h4> </p>

                    <p> <h4><strong>Time:</strong> {{ foo.duration }} </h4></p>
                    <p> <h4><strong>Weight:</strong>  {{ foo.weight }} </h4> </p>
                    <p> <h4><strong>Deadline:</strong>  {{ foo.due_date }} </h4> </p>
            
            <a href="{{foo.id}}/submitted-assignment"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Submitted Assignments</button></a>
   
            <a href="{% url 'core:delete-assignment' foo.id %}"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Delete Assignment</button></a>
                   
                    <hr/>
                    <hr/>
                    <br/>
                {% endfor %}
                

            <a href="{% url 'core:assignment-create' id %}"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Create Assignment</button></a>
            <a href="assignment-course-chart"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View Course Statistics</button></a>

            {% endif %}

            {% if request.user.is_authenticated and request.user.role == 'student' and is_ta == 0 %}

            <h1>Pending Assignments</h1>
            <hr/>
            {% for foo in not_submitted %}
                    <h3><strong> {{ foo.title }}  </strong></h3>
                    <hr/>
                    <p> <h4>Content</h4> {{ foo.content }} </p>
                 
                    <p> <h4>Marks</h4> {{ foo.marks }} </p>

                    <p> <h4>Time</h4> {{ foo.duration }} hours </p>
                    <p> <h4><strong>Weight:</strong>  {{ foo.weight }} </h4> </p>
                    <p> <h4><strong>Deadline:</strong>  {{ foo.due_date }} </h4> </p>
            
            <a href="{{foo.id}}/assignment-submission"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Submit Assignment</button></a>
             
                  <hr/>
                <br>
                {% endfor %}
                <h1>Assignments Submitted</h1>
                <hr/>
                {% for foo in submitted %}
                    <h3><strong> {{ foo.title }}  </strong></h3>
                    <hr/>
                    <p> <h4>Content</h4> {{ foo.content }} </p>
                    
                    <p> <h4>Marks</h4> {{ foo.marks }} </p>

                    <p> <h4>Time</h4> {{ foo.duration }} hours </p>
                    <p> <h4><strong>Weight:</strong>  {{ foo.weight }} </h4> </p>
                    <p> <h4><strong>Deadline:</strong>  {{ foo.due_date }} </h4> </p>
                    <br/>
             
                 
                  <a href="{{foo.id}}/submitted-assignment"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Submitted Assignment</button></a>

                {% endfor %}
                
                    <br/>
                
                    <a href="course-total"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View Your Weighted Course Total</button></a>

            {% endif %}

            {% if request.user.is_authenticated and request.user.role == 'student' and is_ta == 1 %}
                {% for foo in assignment %}
                    <h3><strong> {{ foo.title }}  </strong></h3>
                    <hr/>
                    <p> <h4><strong>Content:</strong></h4> {{ foo.content }} </p>

                    <p> <h4><strong>Marks:</strong>  {{ foo.marks }} </h4> </p>

                    <p> <h4><strong>Time:</strong> {{ foo.duration }} </h4></p>
                    <p> <h4><strong>Weight:</strong>  {{ foo.weight }} </h4> </p>
                    <p> <h4><strong>Deadline:</strong>  {{ foo.due_date }} </h4> </p>
            
            <a href="{{foo.id}}/submitted-assignment"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Submitted Assignments</button></a>
   
                  
                    <hr/>
                    <hr/>
                    <br/>
                {% endfor %}
                

           
            {% endif %}
           
            <br/>


    </div>

{% endblock %}
