{% extends 'base.html' %}
{% load static %}
{% block title %}Assignments{% endblock %}


{% block content %}



       <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
                   <h2 class="w3-wide w3-center">Assignments</h2>
        <hr/>
           <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
           {% for foo in assignment_submission %}
           <div class="w3-container w3-white">
               <p><h4><strong>Name:</strong> {{ foo.name }} </h4></p>
               <h4><strong>ID:</strong> {{ foo.university_id  }} </h4></p>
           <p> <h4><strong>Answer:</strong></h4> {{ foo.content }}  </p>
            {% if foo.file %}
                <p> <h4><strong>Submitted File:</strong> <a href="{{foo.file.url}}" download>{{foo.file}}</a> </h4></p>
                {% endif %}
                
                {% if foo.feedback %}
                <p> <h4><strong>Feedback:</strong></h4> {{ foo.feedback }}  </p>
                {% endif %}
               <a href="{% url 'core:assignment-feedback' foo.id %}"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Give/Edit Feedback</button></a>
                <a href="{% url 'core:submission-delete' foo.id %}"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Delete Submission</button></a>
              </div>
              <hr/>
           {% endfor %}
           </div>
            



           




            <br/>


            <br/>


        </div>



{% endblock %}
