{% extends 'base.html' %}
{% load static %}
{% block title %}Submitted Assignment{% endblock %}


{% block content %}


<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
     <h2 class="w3-wide w3-center">Submitted Assignments</h2>

        <hr/>
            {% for foo in assignment_submission %}


                <p> <h4>Name</h4> {{ foo.name }} </p>

                <p> <h4>Id</h4> {{ foo.university_id }} </p>
                <hr/>
                <p> <h4>Answer</h4> {{ foo.content }}  </p>
                {% if foo.file %}
                <p> <h4>Submitted File</h4> <a href="{{foo.file.url}}" download>{{foo.file}}</a> </p>
                {% endif %}
                {% if foo.feedback %}
                <p> <h4>Feedback</h4> {{ foo.feedback }}  </p>
                {% endif %}
                {% if foo.marks_obtained %}
                <p> <h4>Marks Obtained</h4> {{ foo.marks_obtained }}  </p>
                {% endif %}
                <a href="{% url 'core:submission-delete' foo.id %}"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Delete Submission</button></a>
                
                {% if request.user.is_authenticated and request.user.role == 'instructor' %}
                <a href="submitted-assignment/{{foo.id}}/assignment-feedback"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Give/Edit Feedback</button></a>
                {% endif %}
                {% if request.user.is_authenticated and request.user.role == 'student' and is_ta == 1 %}
                <a href="submitted-assignment/{{foo.id}}/assignment-feedback"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Give/Edit Feedback</button></a>
                {% endif %}
                <hr/>
            {% endfor %}   
                {% if request.user.is_authenticated and request.user.role == 'instructor' %}
                <a href="submitted-assignment/upload-csv"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Give Feedback via CSV</button></a>
                {% endif %}
                {% if request.user.is_authenticated and request.user.role == 'student' and is_ta == 1 %}
                <a href="submitted-assignment/upload-csv"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Give Feedback via CSV</button></a>
                
                
                {% endif %}
                <a href="submitted-assignment/assignment-chart"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View Assignment Statistics</button></a>

    </div>


{% endblock %}
