{% extends 'base.html' %}
{% load static %}
{% block title %}Discussions{% endblock %}


{% block content %}

 <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">

       
            {% if request.user.is_authenticated and request.user.role == 'instructor' %}
                {% for foo in discussion_list %}
                    <h3><strong> {{ foo.topic }}  </strong></h3>
                    <hr/> 
                    <br/>
                {% endfor %}
                

            <a href="{% url 'core:discussion-create' id %}"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Create discussion</button></a>
            <a href="http://127.0.0.1:8000/{{id}}/discussion/{{foo.id}}/comments"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View Discussion</button></a>


            {% else %}

            {% for foo in discussion_list %}
                    <h3><strong> {{ foo.topic }}  </strong></h3>
                    <hr/>
                    <a href="http://127.0.0.1:8000/{{id}}/discussion/{{foo.id}}/comments"><button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">View Discussion</button></a>
                <br>
                {% endfor %}
                
                    <br/>
                
                

            {% endif %}
           
            <br/>


    </div>

{% endblock %}
