{% extends 'base.html' %}
{% load static %}
{% block title %}Assignments{% endblock %}


{% block content %}

 <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">

       
            {% if request.user.is_authenticated and request.user.role == 'instructor' %}
            <h1>Pending Feedback</h1>
            <br>
            <br>
            <br>
                {% for course in ass_sub_list %}
                    {% for assignment in course%}
                        {% for sub in assignment %}
                            <h2>{{ sub.assignment.course.course_name }}</h2>
                            <h3>{{ sub.assignment.title }}</h3>
                            <a href="http://127.0.0.1:8000/{{sub.assignment.course.id}}/assignment/{{sub.assignment.id}}/submitted-assignment"><h4>{{ sub.name }}</h4></a>
                            <br>
                            <br>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}


            {% endif %}

            {% if request.user.is_authenticated and request.user.role == 'student' and is_ta == 0 %}
            <h1>Pending Assignments</h1>
            <hr/>
            {% for foo in not_submitted %}
            <h2>{{ foo.course.course_name }}</h2>
            <a href="{% url 'core:assignment-list' foo.course.id %}"><h3><strong> {{ foo.title }}  </strong></h3>
                {{ foo.due_date }}

                    <hr/>
                   
                  <hr/>
                <br>
                {% endfor %}
                
                
                    <br/>
                
            {% endif %}
            

            {% if request.user.is_authenticated and request.user.role == 'student' and is_ta == 1 %}
            <h1>Pending Feedback</h1>
            <br>
            <br>
            <br>
                {% for course in ass_sub_list %}
                    {% for assignment in course%}
                        {% for sub in assignment %}
                            <h2>{{ sub.assignment.course.course_name }}</h2>
                            <h3>{{ sub.assignment.title }}</h3>
                            <a href="http://127.0.0.1:8000/{{sub.assignment.course.id}}/assignment/{{sub.assignment.id}}/submitted-assignment"><h4>{{ sub.name }}</h4></a>
                            <br>
                            <br>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
           
            <br/>


    </div>

{% endblock %}