{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>Float Moodle</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/ournewstyles.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

body {font-family: "Lato", sans-serif }
.mySlides {display: none}

</style>
<body>



   {% include 'nav.html' %}


       {% block content %}
      {% endblock %}




   <footer class="footer-area bg-img bg-success">
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="single-footer-widget">
          </div>
        </div>      
      </div>
    </div>

  </footer>
  <!-- ***** Footer Area End ***** -->
</body>

</html>
