<!-- Preloader -->
<!-- Preloader -->





    

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    
    {% if request.user.is_authenticated and request.user.role == 'instructor' %}
    
    <a href="{% url 'chat:chats' %}" class="w3-bar-item w3-button w3-padding-large">Chat</a>
    <a href="{% url 'core:course' %}" class="w3-bar-item w3-button w3-padding-large">Courses</a>
    <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-padding-large w3-button" title="More">{{ request.user.first_name }}<i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <a href="{% url 'authentication:instructor-profile-update' %}" class="w3-bar-item w3-button">Edit Profile</a>
    <a href="{% url 'authentication:instructor-change-password' %}" class="w3-bar-item w3-button">Change Password</a>
    <a href="{% url 'core:course-create' %}" class="w3-bar-item w3-button">Create Course</a>
    <a href="{% url 'core:student-todo-list'  %}" class="w3-bar-item w3-button">To Do List</a>
    <a href="{% url 'authentication:logout' %}" class="w3-bar-item w3-button">Logout</a>
    </div>
    
                            
             
    
    
                 {% elif request.user.is_authenticated and request.user.role == 'student' %}
                 <a href="{% url 'chat:chats' %}" class="w3-bar-item w3-button w3-padding-large">Chat</a>
                 <a href="{% url 'core:course' %}" class="w3-bar-item w3-button w3-padding-large">Courses</a>
                 <div class="w3-dropdown-hover w3-hide-small">
                    <button class="w3-padding-large w3-button" title="More">{{ request.user.first_name }}<i class="fa fa-caret-down"></i></button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="{% url 'authentication:student-profile-update' %}" class="w3-bar-item w3-button">Edit Profile</a>
                        <a href="{% url 'authentication:student-change-password' %}" class="w3-bar-item w3-button">Change Password</a>
                        <a href="{% url 'core:student-todo-list'  %}" class="w3-bar-item w3-button">To Do List</a>
                        <a href="{% url 'authentication:logout' %}" class="w3-bar-item w3-button">Logout</a>
                    </div>
    
                        
    
    
    
    
                    {% else %}
                    <div class="w3-dropdown-hover w3-hide-small">
                        <button class="w3-padding-large w3-button" title="More">Register<i class="fa fa-caret-down"></i></button>
                        <div class="w3-dropdown-content w3-bar-block w3-card-4">
                            <a href="{% url 'authentication:instructor-register' %}" class="w3-bar-item w3-button">Instructor</a>
                            <a href="{% url 'authentication:student-register' %}" class="w3-bar-item w3-button">Student</a>
                        </div>
                    </div>
                       
                    <a href="{% url 'authentication:login' %}" class="w3-bar-item w3-button w3-padding-large">Login</a>
                            
                    {% endif %}
    
    
    </div>
    </div>


      