{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Instructor Profile Edit {% endblock %}

{% block content %}

<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">Edit Profile</h2>
    <div class="w3-row w3-padding-32">
        <div class="w3-col m6">
        <form action="" method="POST">{% csrf_token %}
            {{ form|bootstrap }}
            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                <button class="w3-button w3-black w3-section w3-right" type="submit">Update</button>
            </div>
            
        </form>
        </div>
    </div>
</div>




{% endblock %}